body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  &:visited {
  }
  &:hover {
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.form-group {
  .fields {
    display: block;
    position: relative;
    clear: both;
    margin-top: 10px;
    label {
      float: left;
    }
    .custom-avatar {
      float: left;
      margin-left: 2px;
      width: 25%;
      font-size: 25px;
      .form-control {
        width: 10%;
        float: left;
        z-index: 100;
        position: relative;
        opacity: 0;
        cursor: pointer;
        overflow: hidden;
      }
      .custom-upload-wrapper {
        margin-left: 0px;
        margin-top: 1px;
        width: 12%;
        vertical-align: bottom;
        text-align: center;
        padding-top: 7px;
        z-index: 5;
        position: absolute;
        cursor: pointer;
      }
      .remove_nested_fields {
        margin-left: 15px;
      }
    }
  }
  .add-picture-wrapper {
    width: 5%;
    float: left;
    display: block;
    position: relative;
    font-size: 25px;
  }
}

.clear {
  clear: both;
}

